DATABASE_URL="postgresql://user:password@host:port/dbname"
NEXTAUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY="re_..."
EMAIL_FROM="MyCommunity <noreply@yourdomain.com>"
